PROJECT=
MODE=
PORT=

POSTGRES_HOST=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PORT=
POSTGRES_PASSWORD=

YOUR_CLARIFAI_API_KEY=
USER_APP_ID=
USER_ID=

PLANT_ID_KEY=

AUDIENCE_1=
AUDIENCE_2=
ISSUER=
JWKS_URL=